
/* Your CSS Code here. */
table,tr{
	border:1px solid black;
	border-collapse:collapse;
	width:50%;
    border-left: none;
    border-right: none
}
th{
	background:black;
	color:white;
}
td{
	padding:10px;
}
.num
{
	background:none;
	color:black;
	font-size:15px;
	padding-left:10px;
}